**/.DS_Store
*-debug.log
*-error.log
/dist
/lib
/package-lock.json
/tmp
/yarn.lock
node_modules
tsconfig.tsbuildinfo
.cache
/cache
#output files
*.avi
*.mp4
*.webm
/slp-to-video*

#input files
/*.slp

*.old
pnpm-lock.yaml

# bundled binaries
/externals/*