**/.DS_Store
*-debug.log
*-error.log
/dist
/lib
/package-lock.json
/tmp
/yarn.lock
node_modules
tsconfig.tsbuildinfo
.cache
/cache
#output files
*.avi
*.mp4
*.webm

*.old

# bundled binaries
/assets/dolphin*
/assets/ffmpeg*