**/.DS_Store
*-debug.log
*-error.log
/dist
/lib
/package-lock.json
/tmp
/yarn.lock
node_modules
tsconfig.tsbuildinfo
.cache
/cache
#output files
*.avi
*.mp4
*.webm

#input files
/*.slp

*.old
pnpm-lock.yaml

# bundled binaries
/assets/ffmpeg*
/assets/*.exe
/assets/*.app
/assets/*.[Aa]pp[I]mage